[2021-06-08 23:28] rusefillc opened #1 "Just to confirm CLT and IAT are pull up not down"

[2021-06-09 18:16] Qwerty-OFF commented on #1
It seems we need to pull up for IAT, but I don't sure what we need for CLT.
CLT:
![image](https://user-images.githubusercontent.com/4116383/121405781-1caed880-c966-11eb-8fa5-667bb1e3c07d.png)
IAT:
![image](https://user-images.githubusercontent.com/4116383/121407093-9f846300-c967-11eb-8bd8-56cb541111e5.png)

[2021-06-09 19:12] rusefillc commented on #1
All IAT all CLT I've ever seen are pull-up with 2.7k or a bit higher

[2021-06-09 19:14] Qwerty-OFF commented on #1
![image](https://user-images.githubusercontent.com/4116383/121415048-fdb54400-c96f-11eb-868c-b84ec112235a.png)

[2021-06-11 00:40] #1 closed

[2021-06-11 00:44] rusefillc opened #2 "Document ignition hardware flexibility"
OEM PCB uses two IGBTs to run 4 cylinders. How do we run 4 cylinder on rusEFI Hellen Mercedes board?

Also we need to document the switch from dump coils to smart coils - what components if any would have to be removed?

All this into https://github.com/rusefi/rusefi/wiki/Hellen-128-Mercedes

[2021-06-11 11:04] rusefillc opened #3 "1997-Mercedes-Benz-S320 maybe special case maybe not"
There is a report that 1997-Mercedes-Benz-S320 maybe special case maybe not

[2021-06-11 21:59] Qwerty-OFF commented on #2
Updated

[2021-07-05 19:47] mck1117 opened #4 "silkscreen label which IGBT is which"
cylinder numbers on silkscreen would be handy

[2021-07-05 19:47] mck1117 opened #5 "test pads for 5v/3.3v/12v"

[2021-07-05 19:47] mck1117 commented on #5
oh never mind they exist, they're just tiny

[2021-07-05 19:47] #5 closed

[2021-07-05 19:49] mck1117 opened #6 "silkscreen label which WBO is which"
which is #0? which is #1?

[2021-07-05 19:56] rusefillc commented on #5
@mck1117 I know - I love H72 NB2 test pads side

@Qwerty-OFF FYI

[2021-07-05 20:12] mck1117 opened #7 "PROG and RESET labels are swapped"
labels are wrong

[2021-07-06 16:09] rusefillc opened #8 "Silkscreen says 121 by mistake"
![image](https://user-images.githubusercontent.com/48498823/124633129-fbe97e00-de52-11eb-87aa-f4c100e42d98.png)

[2021-07-08 17:03] rusefillc opened #9 "Rev A was fabbed with C398929 LMV324IPWR"
https://github.com/andreika-git/hellen-one/issues/63

[2021-07-08 17:10] rusefillc commented on #9
https://github.com/rusefi/hellen128mercedes/blob/main/boards/hellen128mercedes-a/board/hellen128mercedes-a-
ctrl-f "LMV"
ctrl-f "MCP6004"

so which one is which? :)

[2021-07-08 17:11] rusefillc commented on #9
Matthew Kennedy  1:10 PM
mcu module has lmv

andrey  1:11 PM
keep talking

Matthew Kennedy  1:11 PM
wbo doesn't fucking need mcp lol

[2021-07-08 19:29] rusefillc commented on #9
we need to bump to mcu 0.4

[2021-07-17 02:34] duhafnusa4 opened #10 "handle supecharger clutch f21"
On Hellen 128 Pin Mercedes Pin KF21 is associated to ignition, but on the stock ECU that pin is for engaging the supercharger clutch (pin pulls low to trigger relay that feeds clutch 12V)

We need an option to use a MOSFET instead of igbt on that pin, with corresponding 0R jumpers

Update: igbt does exactly low side just too much heat at 5A for instance. 3.4 ohms resistance of that solenoid.

[2021-07-17 02:43] rusefillc commented on #10
So @duhafnusa4 has https://github.com/rusefi/rusefi/wiki/Mercedes-C230-and-SLK230

[2021-07-17 02:43] rusefillc commented on #10
while v8 has https://github.com/rusefi/rusefi/wiki/1999-e430

[2021-07-17 06:33] mck1117 commented on #10
Maybe not move, but jumper. Some cars have ign on that pin.

[2021-08-15 02:47] mck1117 opened #11 "tps/pps should be pulldown instead of pullup"
tps/pps should pull to gnd, not up to 5v

![image](https://user-images.githubusercontent.com/568254/129465285-e18d69b0-4d2b-4440-a3b9-b69161d5e90d.png)

[2021-08-16 03:07] mck1117 commented on #10
![image](https://user-images.githubusercontent.com/568254/129506323-b17d0f2e-172e-4650-ae56-f97127b1a653.png)

[2021-08-16 18:26] shadowm60 opened #12 "WBO sensor connector restriction"
since whole to solder wires are to small we are limited to what thickness we can use for wiring the sensor connector.
1. loose the plastic connector and leave only wholes to solder wires
2. always sell hellen with wires and connectors

[2021-08-16 18:27] shadowm60 opened #13 "analog inputs (limitation)"
From the schematic point of view there are more adc channels then exposed to CAR connector.

All unused channels should have a Test Point, this way user can extend functions, ex. add fuel pressure sensor, AC compressor, oil pressure, etc

[2021-08-16 18:45] rusefillc commented on #13
@shadowm60 can you please be more specific what exact STM32 pin seems unused and not routable?

[2021-08-16 18:47] mck1117 commented on #13
![image](https://user-images.githubusercontent.com/568254/129614308-0b4c6a55-f202-415b-843d-8389dd6d5223.png)

Some of these have vias, but most are no-connect, why?

[2021-08-18 18:43] shadowm60 opened #14 "ignition fuse wrong value"
Using oem coils and IGBT blown the fuses on ignition output, wrong value selected.
IGBT would not get hot so probably value should be something close to the limit of igbt?

[2021-08-18 18:51] mck1117 commented on #14
we can go for a much higher value

current fuse is 5A rated

IGBT is rated for ~20 amps continuous, but that would dissipate ~40 watts, so we're thermally limited much lower than that (dc), so maybe 10-20 amps is a better fuse rating

[2021-08-18 21:07] rusefillc commented on #10
@mck1117 how did you hack this board for now?

[2021-08-18 21:10] mck1117 commented on #10
I didn't really hack the board, @duhafnusa4 hacked his harness.

He moved ign 1 is to one of the pins on channel5 (F4 or F5).

His supercharger clutch has a relay, connected to pin F21, so the IGBT is installed there as a low side driver.  This is NOT the factor wiring for the supercharger.

[2021-08-18 21:25] rusefillc commented on #10
Matthew Kennedy  5:18 PM
Huh?

andrey  5:18 PM
@Jimmy soiboi Luntzel says "relay" in ticket and "low"

Matthew Kennedy  5:18 PM
Yes
5:18
He added a relay so the ecu switches lowside
5:18
Because he had MRE before
5:18
IGBT can switch lowside

andrey  5:18 PM
https://github.com/rusefi/rusefi/wiki/OEM-Docs/Mercedes/99_SLK230_3.png
5:18
does not OEM switched lowside?

Matthew Kennedy  5:18 PM
Dunno
5

[2021-08-18 21:27] rusefillc commented on #10
Matthew Kennedy
both F20 and F21 are IGN1 on some car

I don't know if any car uses F20=IGN and F21=SC at the same time

[2021-08-19 05:38] rusefillc commented on #10
Matthew Kennedy  5:36 PM
so yes, it needs either a relay or a bodgewire
5:37
*bodge mosfet

[2021-08-20 18:46] rusefillc opened #15 "figure out how relevant are we for M104"
https://en.wikipedia.org/wiki/Mercedes-Benz_M104_engine

[2021-08-20 18:47] rusefillc commented on #15
https://rusefi.com/forum/memberlist.php?mode=viewprofile&u=1409

[2021-08-22 13:59] shadowm60 commented on #13
We had a discussion with @mck1117 and we cannot use all the pins as analog since we do have a limitation for all those unconnected channels, but then i was thinking, can we use them at least like inputs? ex. ac compressor on, clutch pedal, starter switch, etc?

[2021-08-22 15:26] Qwerty-OFF commented on #4
![image](https://user-images.githubusercontent.com/4116383/130360791-caeedd56-94db-4d42-aee0-0947afdb53d8.png)
Are there enough signatures for the 4-cylinder version?

[2021-08-22 15:49] Qwerty-OFF commented on #6
![image](https://user-images.githubusercontent.com/4116383/130360918-eba5023b-c6e4-4533-8ed0-87b98cf86b78.png)
They were signed as #1 and #2, changed to #0 and #1
Please check if pulls are connected correctly
![image](https://user-images.githubusercontent.com/4116383/130361389-13234f48-ef19-4c92-8aee-ba1982d101c6.png)

[2021-08-22 15:50] Qwerty-OFF commented on #7
Fixed
![image](https://user-images.githubusercontent.com/4116383/130361546-4fbff5bf-7a2e-4ac1-a33b-195470edc71f.png)

[2021-08-22 15:51] Qwerty-OFF commented on #8
Fixed
![image](https://user-images.githubusercontent.com/4116383/130361556-240ac792-cf31-41ca-a0c4-d7a6a643113d.png)

[2021-08-22 15:57] Qwerty-OFF commented on #9
Changed to version 0.5. Is that all for me in this issue?

[2021-08-22 16:22] Qwerty-OFF commented on #10
Can we use any unused IGBT for this?
![image](https://user-images.githubusercontent.com/4116383/130362504-654533c1-e524-409e-86c4-bf34e88f7149.png)

[2021-08-22 16:30] Qwerty-OFF commented on #13
We have very little space on the board for test points. I can try adding a few more, but definitely not all. What exactly do I need to connect to test points?

[2021-08-22 16:40] Qwerty-OFF commented on #14
We need a jumper that:
1. Withstands 400-500V
2. Does not burn out at a current of 10-20A
3. Sold and assembled at JLC
4. Takes up little space
Have any ideas? If we refuse to JLC accembly, we can use a wire.

[2021-08-22 17:01] shadowm60 commented on #13
Why not loose the WBO module two conenctor setup ( i mean if we have the test points for soldering in a wbo connector, why do we have the plastic connector in place as well?) user would use only one, probably that would not free up space on the needed area, but still as a user i see no point into having two sets of connectors for wbo. i would be much happier if i can extend my setup with additiona

[2021-08-22 17:13] rusefillc opened #16 "Space saving measures"
I agree that we can loose second wire soldering option of WBO

We can also move battery to the back side of the board with hand-soldering if desired

[2021-08-22 17:14] rusefillc commented on #16
smart coil resistors like R78 can also go on the back since not populated by default

[2021-08-22 17:15] rusefillc commented on #16
@andreika-git @mck1117 any other ideas?

one day we will get dual side assembly

[2021-08-22 17:15] rusefillc commented on #13
@Qwerty-OFF we need to find a way. Maybe #16

[2021-08-22 17:50] rusefillc commented on #9
Yes

[2021-08-22 17:50] #9 closed

[2021-08-22 17:51] rusefillc commented on #10
I think there is heat dissipation concerns? Do you mean multiple IGBTs in parallel? Maybe 4 IGBTs in parallel is the answer @mck1117 ?

[2021-08-22 17:53] rusefillc commented on #14
I am totally not in the loop, why do we need fuses/wires at all? is this about optional gap jumping or else?

[2021-08-22 18:08] #8 closed

[2021-08-22 18:08] #7 closed

[2021-08-22 18:09] rusefillc commented on #4
@mck1117 what's your take?

[2021-08-22 18:16] Qwerty-OFF commented on #14
This is a replacement for our 0805 smd jumper in case we want to manually change pinout. It is impossible to use 0805 smd due to high current and voltage

[2021-08-22 18:19] rusefillc commented on #14
Realistically it looks like jumpers we do not need. Can we have traces with vias? So normal case traces are used, funny wiring which is not probable we cut traces with a knife and use holes for wires?

[2021-08-22 19:35] Qwerty-OFF commented on #14
Looks like we need a jumper at least here https://github.com/rusefi/hellen128merc-issues/issues/10
The idea with a knife can be realized

[2021-08-23 03:58] mck1117 commented on #16
how much space do we need?

switch to two pin header for battery? there are batteries with a short two wire pigtail available off the shelf

[2021-08-23 03:59] mck1117 commented on #16
I wouldn't move those, since we're already constrained by the "case wall" there, so that stuff all has to be on the far side of it

[2021-08-23 04:00] mck1117 commented on #10
noo, please don't do that.  IGBTs have a roughly fixed voltage drop (not resistance), and it's like ~2 volts for these IGBTs.  Blower clutch could pull north of 4-5 amps.

[2021-08-23 04:02] mck1117 commented on #4
why not mark all 8? Seems free to me.

[2021-08-23 04:04] mck1117 commented on #14
Ehh, it's still a good idea to have the fuse, as we've seen.  Alex found a firmware bug that probably would have melted his coils, but was saved by the fuse.

Unclear if he blew the fuse in normal operation though, and not during a true fault.

Does JLC not have any >5 amp fuses?

[2021-08-23 04:24] rusefillc commented on #6
@mck1117 please validate

[2021-08-23 04:34] mck1117 commented on #6
the one closer to IGBTs is certainly the 0th one

[2021-08-23 20:28] shadowm60 commented on #13
Kompressor Bypass solenoid is like a TB. it has redundant TPS built in, we need the analog inputs if we ever want feedback from this type of HW. Additional the engine is not equipped with oil pressure sensor, and fuel pressure sensor, but i think this is a simple to add that users might want, at least i know i would like at some point. so for next revision count me in for a new ecu to test :D

[2021-08-23 21:57] Qwerty-OFF commented on #4
Confusing markings for different cars. Cylinder numbers differ for the same contact
https://github.com/rusefi/rusefi/wiki/2000-s430
https://github.com/rusefi/rusefi/wiki/1999-e430
https://github.com/rusefi/rusefi/wiki/1999-e320

[2021-08-23 22:06] Qwerty-OFF commented on #10
Can we use BTS3028 or something else in d2pak package for replace this IGBT?

[2021-08-23 22:16] Qwerty-OFF commented on #13
Added three analog inputs
![image](https://user-images.githubusercontent.com/4116383/130526331-77278a45-8ff9-4fda-b677-5b8fce5f7b7c.png)
![image](https://user-images.githubusercontent.com/4116383/130526519-2189b04e-6cb0-4c41-b840-3dcba09ad295.png)

[2021-08-23 22:40] Qwerty-OFF commented on #14
Maybe something like 0505016.MXEP C187650, but I'm not sure that using a ceramic fuse in car is a good idea.

https://jlcpcb.com/parts/componentSearch?isSearch=true&searchTxt=C187650

The fuse already used is very slow, I was hoping that it would not blow out from the impulse current. Are there other users of the board? Didn't they have such a problem?
![image](https://user-images.githubuserconten

[2021-08-24 11:38] rusefillc commented on #10
we are not REPLACING right, we are ADDING an alternative option for when we need clutch control not spark coil control?

[2021-08-24 13:40] rusefillc opened #17 "Second knock sensor"
Hellen128 on a Mercedes E320 W210 M104 probably 1996 or 1997

Hellen128 schematic looks like it only has provisions for 1 knock sensor. M104 has a 2nd knock sensor on E43(GND)/E44(Signal).

https://rusefi.com/forum/viewtopic.php?p=41977#p41977

[2021-08-24 13:43] rusefillc opened #18 "Intake Flap E12"
We need a high current low side driver for Intake Flap E12

[2021-08-24 13:44] rusefillc commented on #18
or at least a via to begin with @Qwerty-OFF

[2021-08-24 15:56] rusefillc commented on #10
replacement suggestion BTS3028

![image](https://user-images.githubusercontent.com/48498823/130649609-4390e829-f6fa-400b-802e-3dded5ab6139.png)

[2021-08-24 16:01] rusefillc commented on #14
![image](https://user-images.githubusercontent.com/48498823/130650416-c0b68697-8e96-4de7-9d10-97a62e973521.png)

[2021-08-24 16:09] rusefillc commented on #10
IBGT ISL9V3040S3S
gate=in
collector=drain
emitter=source

![image](https://user-images.githubusercontent.com/48498823/130651642-cbfb718e-2911-4fce-8a34-74b42f04bc6b.png)

[2021-08-24 16:20] rusefillc commented on #14
![image](https://user-images.githubusercontent.com/48498823/130653129-f07654d1-9adf-49b7-85a7-9b3d80bc21d1.png)

[2021-08-24 16:26] rusefillc commented on #10
@Qwerty-OFF please share exact full PN of BTS3028 with proper package

[2021-08-24 16:27] andreika-git commented on #10
pinout looks good

[2021-08-24 17:55] mck1117 commented on #10
it might be a little marginal on current capacity, the clutch could be 5 amps, which on a bts3028 would be 2.3 watts.  Anything available with lower R_ds_on?

Besides, the BTS3028 is DPAK, not D2PAK.

[2021-08-24 18:59] Qwerty-OFF commented on #10
VNB14NV04
BTS3018TC
BTS141TC
BTS133TC

[2021-08-24 19:04] mck1117 commented on #10
I like that ST part if availability is ok

[2021-08-24 20:13] Qwerty-OFF commented on #10
![image](https://user-images.githubusercontent.com/4116383/130683349-b497c55c-99b5-4e66-a6c6-8312bbbe0c4a.png)

[2021-08-24 20:15] Qwerty-OFF commented on #14
We don't have space for fuses like https://jlcpcb.com/parts/componentSearch?isSearch=true&searchTxt=C187650
Let's try using 250V 10A fuses https://jlcpcb.com/parts/componentSearch?isSearch=true&searchTxt=C354908

[2021-08-24 20:17] Qwerty-OFF commented on #11
![image](https://user-images.githubusercontent.com/4116383/130683938-628dce31-b4ff-44f5-8e00-6647e5336cac.png)

[2021-08-24 20:30] Qwerty-OFF commented on #18
![image](https://user-images.githubusercontent.com/4116383/130685529-75edbcc4-0f4a-470f-ba77-4a867970e544.png)

[2021-08-24 20:32] rusefillc commented on #18
good enough for now, we can reuse injector #8 driver on 6 cylinder

[2021-08-24 20:32] #18 closed, assigned to nobody

[2021-08-24 20:34] Qwerty-OFF commented on #17
![image](https://user-images.githubusercontent.com/4116383/130686175-b774135b-7f8f-4f8e-ba5f-481e0cce8555.png)

[2021-08-26 17:05] rusefillc opened #19 "it's official vr-discrete works!"
Please change DNP for vr-discrete to be the default

![image](https://user-images.githubusercontent.com/48498823/131005344-8bcbce33-7e14-4049-9b8e-cfa7787f6bef.png)

[2021-08-26 17:10] Qwerty-OFF commented on #19
Done

[2021-08-26 17:10] #19 closed, assigned to Qwerty-OFF

[2021-08-26 17:14] Qwerty-OFF commented on #14
Changed to https://jlcpcb.com/parts/componentSearch?isSearch=true&searchTxt=C354908

[2021-08-26 17:14] #14 closed, assigned to rusefillc

[2021-08-26 17:15] Qwerty-OFF commented on #13
We have 6 inputs, 5 outputs and 8 mcu gpio

[2021-08-26 17:15] #13 closed, assigned to nobody

[2021-08-26 17:16] Qwerty-OFF commented on #11
Fixed

[2021-08-26 17:16] #11 closed, assigned to Qwerty-OFF

[2021-08-26 17:17] Qwerty-OFF commented on #10
User can install IGBT or MOSFET with corresponding jumpers

[2021-08-26 17:17] #10 closed, assigned to Qwerty-OFF

[2021-09-04 19:40] rusefillc opened #20 "5V_SENS2"
Не смог найти в схеме источник питания для цепи 5V_SENS2. Откуда питаются датчики?

[2021-09-04 19:45] Qwerty-OFF commented on #20
Промах мимо трекера 88бмв?

[2021-09-04 19:46] mck1117 commented on #20
english pls

[2021-09-04 19:47] rusefillc opened #21 "MPX4 hardware would destroy PCB tracks"
Если MPX4 прикручивать винтиками с гайками, пострадают дорожки на печатной плате

[2021-09-04 19:47] mck1117 commented on #21
english pls

[2021-09-11 23:00] rusefillc opened #22 "Document boost control hardware options"

[2021-09-11 23:00] rusefillc opened #23 "Document aux input hardware options"
how can we feed 2nd Manifold air pressure sensor. So 0-5v analog signal into ECU?

[2021-09-11 23:02] rusefillc commented on #22
Jimmy how about injectors 4 5 6 7 for boost control SOLENOID? open question if fly-back diode would be needed worst case one would have to be hacked into harness on current hardware.

[2021-09-11 23:09] duhafnusa4 commented on #22
I have no problem using any of those. They aren't being used anyways

[2021-09-13 17:42] mck1117 commented on #22
flyback diode is probably required for boost solenoid to behave well

[2021-09-13 17:44] rusefillc opened #24 "Flyback diodes for some of high-current low side drivers"
We shall add flyback diodes for when injectors 7 and 8 are used as auxiliary actuators see #22

Technically once day once we see first real user with 8 cylinders would would have to add additional aux low side drivers on merc board

[2021-09-13 17:45] rusefillc commented on #22
@duhafnusa4 you would have to use prototyping area for now

#24 for longer-term solution

[2021-09-14 19:17] rusefillc opened #25 "merc ibom issue"
![image](https://user-images.githubusercontent.com/48498823/133320164-a3be8de5-be10-4542-bc26-bf887b44c9d0.png)

See https://github.com/andreika-git/hellen-one/issues/82#issuecomment-919430161

[2021-09-14 19:22] rusefillc commented on #25
@andreika-git can you help? there is rev_a branch in merc

a bit of less urgent comparing with nissan since less severe issue

[2021-09-16 15:23] rusefillc opened #26 "Document new test points of rev B"
Do we have all test points properly documented?

[2021-09-16 17:48] Qwerty-OFF commented on #26
Updated
https://github.com/rusefi/rusefi/wiki/Hellen-128-Mercedes#extension-pads-rev-b

[2021-09-16 17:48] #26 closed, assigned to nobody

[2021-09-16 17:52] Qwerty-OFF opened #27 "Connect PP2 to mcu"
P18 is useless now
![image](https://user-images.githubusercontent.com/4116383/133660731-bbf5b5de-0f22-45b1-a3dc-53528ec4b642.png)

[2021-09-19 13:21] rusefillc opened #28 "QR code"
https://github.com/rusefi/rusefi/blob/master/misc/www/s/hellen128merc/qr-128merc.png

[2021-10-07 16:48] rusefillc opened #29 "start button C40 to switch ground to pin D3"
implement that when voltage arrives at pin C40 to switch ground to pin D3? With this the car could be started by key without hardwiring the starter

[2021-10-07 16:49] rusefillc commented on #29
D3 is P5 "starter lock-out" we have a via, let's jump to P35 "low12"

C40 is P3 "start" we have a via. Let's connect to RES2 P31

see also https://github.com/rusefi/rusefi/wiki/OEM-Docs/Mercedes/1997_c230-starting.png

[2021-10-07 17:46] rusefillc commented on #29
@Qwerty-OFF what is a good input to feed this into?

![image](https://user-images.githubusercontent.com/48498823/136436684-67bfcf76-230a-4ee7-a789-9b01f3fd9338.png)

[2021-10-07 22:50] rusefillc opened #30 "pin A3: add "GND" silk on the back"

[2021-10-07 22:54] rusefillc opened #31 "pin A2: change silk "+12" to "+12 IGN""
"+12" is a bit vague

we have space for
"+12
IGN"

as a two-line silkscreen

[2021-10-07 22:56] rusefillc commented on #29
rev C change 1: connect D3 and OUT_LOW12

rev C change 2: connect C40 to RES2 as "start button"

[2021-10-07 23:10] rusefillc opened #32 "pull-down/pull-up for aux inputs"
At the moment we have 6 available aux pins

![image](https://user-images.githubusercontent.com/48498823/136474274-cea1599b-1f03-4899-a578-6136de05aeef.png)

Let's keep closer to 50/50 ratio on pull-downs and pull-ups

[2021-10-08 00:33] rusefillc opened #33 "Simplify hand-soldering of H-bridge"
at the moment we have a lot of small components really close to H-bridge

Since it's looking like hand soldering of next batch can we please move some components a bit further away from H-bridge where it's possible

![image](https://user-images.githubusercontent.com/48498823/136480170-9e3ba159-4e57-4909-955b-ce18fa999972.png)

[2021-10-08 01:22] rusefillc commented on #29
following settings do the job!

![image](https://user-images.githubusercontent.com/48498823/136483473-1332212a-43c9-41d6-9c96-a7f98f3117df.png)

![20211007_212047](https://user-images.githubusercontent.com/48498823/136483537-ea10a59d-02c8-42d7-b7ff-8b0b78a9217b.jpg)

[2021-10-08 09:46] rusefillc opened #34 "LIN module for K-line pin"
we shall add LIN module and hook it to pin C39

let's match hellen81 stm32 pin just in case

![image](https://user-images.githubusercontent.com/48498823/136535316-81ab02e2-169a-48ce-8fca-bfdd198112a2.png)

See https://github.com/rusefi/rusefi/issues/3248

![image](https://user-images.githubusercontent.com/48498823/136535207-5b0612ce-96e4-4bf4-bef1-54dea01dc505.png)

![image](https://user-images.gi

[2021-10-08 19:16] rusefillc opened #35 "remove VR module"
it's official we are happy with VR discrete (are we @mck1117 ?) so if we even need this space we can remove unused VR module

[2021-10-09 01:49] rusefillc opened #36 "simplify soldering of used connectors"
TDB

[2021-10-11 13:53] rusefillc opened #37 "vertical USB-B connector"
Users are concerned about mini USB, we shall go with vertical USB B instead

[2021-10-13 18:15] Qwerty-OFF commented on #37
JLC has only right angle USB B
Maybe something like that and a hole in the case?
![image](https://user-images.githubusercontent.com/4116383/137189904-bda937aa-1926-4be1-8f98-81cd7e112ad1.png)

[2021-10-13 18:29] rusefillc commented on #37
Hand-soldering non-JLC USB-B would be preferred

case modification is a major pain

[2021-10-13 18:30] Qwerty-OFF commented on #36
1.02mm -> 1.2mm

[2021-10-13 18:30] #36 closed, assigned to rusefillc

[2021-10-13 18:38] rusefillc opened #38 "I2C Let's experiment with board ID"
See https://github.com/andreika-git/hellen-one/issues/105

[2021-10-13 18:40] rusefillc opened #39 "We can remove some of the jumpers if space is needed"
now that board is somewhat proven we can start removing jumpers if we need the PCB surface for anything else

![image](https://user-images.githubusercontent.com/48498823/137193575-47c1ce95-a171-4cbc-aa7e-c2fbaf766e7a.png)

![image](https://user-images.githubusercontent.com/48498823/137193668-57b92d64-0790-4c24-a6fd-b912519448ad.png)

![image](https://user-images.githubusercontent.com/48498823/1371

[2021-10-13 18:49] Qwerty-OFF commented on #35
Removed

[2021-10-13 18:49] #35 closed, assigned to Qwerty-OFF

[2021-10-13 18:51] Qwerty-OFF commented on #37
Have we already used vertical USB-B?

[2021-10-13 18:53] rusefillc commented on #37
https://github.com/mck1117/proteus uses vertical USB-B

[2021-10-13 19:11] rusefillc commented on #38
Do we have space for 16 port option on top? Next to R67 maybe?

![image](https://user-images.githubusercontent.com/48498823/137197962-214fb1ac-ed14-47d6-bfe9-3f17378c8549.png)

we can make R67 narrower if needed :)

[2021-10-13 19:26] Qwerty-OFF commented on #37
![image](https://user-images.githubusercontent.com/4116383/137199943-05272b6a-0841-4247-9988-e13daf1f82ce.png)

[2021-10-13 19:26] #37 closed, assigned to Qwerty-OFF

[2021-10-13 19:32] Qwerty-OFF commented on #38
I will try to place here
![image](https://user-images.githubusercontent.com/4116383/137200684-671a712f-6b46-4ab6-82cc-19856cce0645.png)

[2021-10-13 19:34] rusefillc commented on #38
that's reasonable

[2021-10-13 19:34] rusefillc commented on #38
please set jumpers to return "99"

[2021-10-13 20:05] Qwerty-OFF commented on #34
Done

[2021-10-13 20:05] #34 closed, assigned to Qwerty-OFF

[2021-10-13 20:13] Qwerty-OFF commented on #33
![image](https://user-images.githubusercontent.com/4116383/137205966-98051828-4787-46a1-951b-545e0efb9262.png)

[2021-10-13 20:13] #33 closed, assigned to Qwerty-OFF

[2021-10-13 20:14] Qwerty-OFF commented on #32
Done

[2021-10-13 20:14] #32 closed, assigned to Qwerty-OFF

[2021-10-13 20:16] Qwerty-OFF commented on #31
![image](https://user-images.githubusercontent.com/4116383/137206349-dd8f2fb2-f1aa-4f43-a9f6-2e50f7e2b7ed.png)

[2021-10-13 20:16] #31 closed, assigned to Qwerty-OFF

[2021-10-13 20:18] Qwerty-OFF commented on #30
![image](https://user-images.githubusercontent.com/4116383/137206655-001b7ea2-772e-49a1-816d-fa233c064b86.png)

[2021-10-13 20:18] #30 closed, assigned to Qwerty-OFF

[2021-10-13 20:36] Qwerty-OFF commented on #29
Done

[2021-10-13 20:36] #29 closed, assigned to Qwerty-OFF, rusefillc

[2021-10-13 20:40] Qwerty-OFF commented on #28
![image](https://user-images.githubusercontent.com/4116383/137209499-2b900bd9-e1f5-4bbf-8cf8-e2ff45bae748.png)

[2021-10-13 20:40] #28 closed, assigned to nobody

[2021-10-13 20:45] Qwerty-OFF commented on #27
Fixed

[2021-10-13 20:45] #27 closed, assigned to Qwerty-OFF

[2021-10-13 20:46] Qwerty-OFF commented on #25
![image](https://user-images.githubusercontent.com/4116383/137210204-63c00039-1e90-4490-93fd-1a0353996be0.png)

[2021-10-13 20:57] Qwerty-OFF commented on #24
![image](https://user-images.githubusercontent.com/4116383/137211440-38066182-058f-4c6a-8a25-a849d31a006f.png)

[2021-10-13 21:00] Qwerty-OFF commented on #23
MAP3?
![image](https://user-images.githubusercontent.com/4116383/137211882-6605fbee-98ba-4dea-a7eb-326a46cf8527.png)

[2021-10-16 18:21] rusefillc opened #40 "Document or add diode for waste gate"
Preface:
Because of v8 compatibility Hellen has really weird schematics INJ designators. M111 uses INJ5-6-7-8 for actual injectors.

99 SLK has

https://github.com/rusefi/rusefi/wiki/Mercedes-C230-and-SLK230#99-slk230

![image](https://user-images.githubusercontent.com/48498823/137598119-e3c7f82c-e676-48e0-b2e1-8e9f22ebd484.png)

![image](https://user-images.githubusercontent.com/48498823/13759812

[2021-10-16 21:28] rusefillc commented on #40
![image](https://user-images.githubusercontent.com/48498823/137602530-9cb6ebeb-f6a2-4088-ac7f-c5fa0155fb4b.png)

![image](https://user-images.githubusercontent.com/48498823/137602532-02bc4ecb-f720-4c9f-b5de-332a7d5b8601.png)

[2021-10-18 20:35] rusefillc opened #41 "DFU button exposed on main connector"
Same idea as https://github.com/rusefi/hellen154hyundai/issues/31

[2021-10-19 20:08] Qwerty-OFF commented on #38
![image](https://user-images.githubusercontent.com/4116383/137982879-e4d7fb9c-0b45-4c51-9475-13bea10f71af.png)

[2021-10-19 20:08] #38 closed, assigned to Qwerty-OFF

[2021-10-19 20:10] Qwerty-OFF commented on #17
We have two knock modules now

[2021-10-19 20:10] #17 closed, assigned to Qwerty-OFF

[2021-10-19 20:18] Qwerty-OFF commented on #40
Diode added. Please close if that is all
![image](https://user-images.githubusercontent.com/4116383/137983957-be015234-a980-47e6-b71e-e76b6c309c38.png)

[2021-10-19 20:28] rusefillc commented on #40
Reopening so that we document

[2021-10-19 20:29] rusefillc commented on #15
It runs!

[2021-10-19 20:29] #15 closed, assigned to nobody

[2021-10-19 21:10] Qwerty-OFF commented on #41
From D1
![image](https://user-images.githubusercontent.com/4116383/137990076-9a886ed7-8a1d-4738-8546-74ddc207ed09.png)
through input (with 10k pull-up)
![image](https://user-images.githubusercontent.com/4116383/137990122-d9cfbcf6-a582-485a-a51d-f12707f3fc41.png)
to p-channel mosfet
![image](https://user-images.githubusercontent.com/4116383/137990300-27093574-f7f7-4904-86f4-5eb4a41033af.png)

@andr

[2021-10-19 21:11] rusefillc commented on #41
@mck1117  @dron0gus

[2021-10-20 06:44] andreika-git commented on #41
Looks ok to me...

[2021-10-20 07:12] mck1117 commented on #41
@Qwerty-OFF where does that 10k pullup go? 5v?

[2021-10-20 07:13] Qwerty-OFF commented on #41
Yes

[2021-10-20 13:55] #41 closed, assigned to nobody

[2021-10-20 14:01] rusefillc commented on #24
We have a very very weird naming convention maybe based on v8 and that's a BAD convention for us considering how 99% of the consumers are 4 cylinders.

See https://github.com/rusefi/rusefi/wiki/Hellen-128-Mercedes#4-cylinder-application

We have to remove D4 D45 since it looks like those are _always_ injectors

We shall add fly-backs to some of OUT_INJ1  OUT_INJ2  OUT_INJ3 since those are the ones

[2021-10-20 17:58] mck1117 commented on #41
@Qwerty-OFF what is that transistor? The PN gives no results on Google.

[2021-10-20 18:03] Qwerty-OFF commented on #41
@mck1117 https://jlcpcb.com/parts/componentSearch?isSearch=true&searchTxt=C411720
Already used in output module

[2021-10-20 18:08] Qwerty-OFF commented on #24
![image](https://user-images.githubusercontent.com/4116383/138147592-fac4a168-85ba-49d2-8921-92ba09d6fd27.png)

[2021-10-22 04:33] #24 closed, assigned to Qwerty-OFF

[2021-10-22 04:35] rusefillc opened #42 "Schematics readability"
Can we please make schematics more readable by using three different colors for
* USB bus
* CAN bus
* I2C bus

two specific problems with current schematics:
1) I am following blue line and not finding USB connector on the schematics :(
2) half of I2C is on the net while ID board is not. please wire ID board somewhere with an explicit net/bus

![image](https://user-images.githubusercontent.com/484

[2021-10-22 04:40] rusefillc opened #43 "5x1 for external Amphenol USB"
We need the five pads for external Amphenol USB same on many other hellens. if possible please place within 3-4 cm of left or bottom side of the case

feel free to move battery to the back side if that would help with space

![image](https://user-images.githubusercontent.com/48498823/138394305-7774f2e9-7153-4786-a954-a02e0b85e903.png)

![image](https://user-images.githubusercontent.com/48498823/13

[2021-10-22 04:43] rusefillc commented on #43
See also https://github.com/rusefi/hellen154hyundai/issues/39

[2021-10-22 22:49] Qwerty-OFF commented on #42
![image](https://user-images.githubusercontent.com/4116383/138530991-5b4fe947-fdb1-44f0-a331-fe25fbc54d1e.png)
![image](https://user-images.githubusercontent.com/4116383/138531007-0a90e3c0-5a11-4199-bf0d-ec2291102157.png)

[2021-10-22 22:49] #42 closed, assigned to Qwerty-OFF

[2021-10-22 22:53] rusefillc commented on #42
@stefanst an example of what could be done if needed

[2021-10-22 23:19] Qwerty-OFF commented on #43
![image](https://user-images.githubusercontent.com/4116383/138532594-0506d94a-3cbe-4fb7-80b2-3eb8c22f4462.png)
OK?

[2021-10-22 23:23] rusefillc commented on #43
Looks great!

[2021-11-01 16:56] rusefillc opened #44 "E3 wastegate low or high? also diode"
also document diode mod for older revisions

[2021-11-01 16:59] rusefillc commented on #44
![image](https://user-images.githubusercontent.com/48498823/139710260-b8b4b309-a42d-46ca-a4b1-373424a10a3b.png)

[2021-11-01 17:01] rusefillc commented on #44
@mck1117 @Qwerty-OFF @andreika-git

does this image of the weird three wire solenoid (?) actuator (?) tell us if it's low-side or high-side driven? is that logic-level control or high current control? what can we tell about this recirculated air flap actuator from this schematics?

![image](https://user-images.githubusercontent.com/48498823/139710348-4e18ee81-3485-4d4a-88e6-a35729ae3a70.png)

[2021-11-01 17:49] Qwerty-OFF commented on #44
It looks like a transistor inside. Possibly controlled by PWM logic level.

[2021-11-01 18:40] Qwerty-OFF commented on #44
For rev. b:
Remove R10
![image](https://user-images.githubusercontent.com/4116383/139723534-bea2b42c-6ebb-4912-b18e-318294629075.png)
Wire from J11 (left contact) to R10 (upper contact)
![image](https://user-images.githubusercontent.com/4116383/139723445-42baf5f3-d83d-47e6-942c-d35e70f0b1ac.png)
You can try use SPI3_MOIS (PC12) as soft-pwm

[2021-11-01 18:55] rusefillc commented on #44
That's assuming transistor would be happy with 3v

Maybe better use unused ign output? Surface pad soldering of wire but 5v?

[2021-11-01 19:02] Qwerty-OFF commented on #44
For 5v levels, you can use IGN5 output (PE2)

Save remove resistor R10

![image](https://user-images.githubusercontent.com/4116383/139726186-e0c06814-7742-4725-bb4a-0d228ad8dc0c.png)

[2021-11-06 13:54] rusefillc commented on #44
[code]

[2021-11-06 13:57] rusefillc commented on #44
[code]

[2021-11-06 14:02] Qwerty-OFF commented on #44
Try use any low-side (P19, P34, P35) with external 12v pullup resistor (4.7k for example)

[2021-11-06 14:04] rusefillc commented on #44
@Qwerty-OFF is there a place on the PCB where we have an unused 4.7k to source? :)

[2021-11-06 14:16] Qwerty-OFF commented on #44
R51, R52 used for baro sensor may be moved to proto area and connected to 12v

[2021-12-01 20:56] rusefillc opened #45 "improve R80 silk"
We have space on the back
let's make R80 more usable add "Clutch to F21" text

[2021-12-04 02:20] rusefillc opened #46 "Migrate to Output-0.3"
See https://github.com/andreika-git/hellen-one/issues/118

[2021-12-04 02:23] rusefillc opened #47 "TLS115D0EJXUMA1 for sensor 5v"
See https://github.com/andreika-git/hellen-one/issues/119

[2021-12-04 02:24] rusefillc opened #48 "TLS115D0EJXUMA1 for sensor 5v"
See andreika-git/hellen-one#119

[2022-01-12 06:39] rusefillc opened #49 "Aux H-bridge channel"
Alex is looking to control aftermarket DC motor wastegate. Let's split second channel of U1 out of ETB duty

https://www.st.com/resource/en/datasheet/l6205.pdf

![image](https://user-images.githubusercontent.com/48498823/149630146-1de3f017-e5fc-4c26-9fe8-9e9d91e1eed3.png)

![image](https://user-images.githubusercontent.com/48498823/149076784-f653de51-368a-4d54-9829-7b29b440e9f5.png)

[2022-01-12 06:39] rusefillc commented on #49
looks like we have some unused MCU pins?

![image](https://user-images.githubusercontent.com/48498823/149076924-42d4d895-76e0-47fa-b143-c90fe72257a2.png)

[2022-01-13 18:41] #43 closed, assigned to Qwerty-OFF

[2022-01-13 18:45] Qwerty-OFF commented on #45
![image](https://user-images.githubusercontent.com/4116383/149390483-8ca46c10-e69d-4bb2-87f6-39cc4ae96002.png)

[2022-01-13 18:45] #45 closed, assigned to Qwerty-OFF

[2022-01-13 18:50] Qwerty-OFF commented on #46
Done

[2022-01-13 18:50] #46 closed, assigned to nobody

[2022-01-13 18:53] rusefillc commented on #47
By the way minor drama at https://github.com/rusefi/alphax-2chan/issues/12

[2022-01-13 19:32] Qwerty-OFF commented on #47
Done

[2022-01-13 19:32] #47 closed, assigned to Qwerty-OFF

[2022-01-15 16:43] shadowm60 commented on #49
I took a look in tge datasheet of the h-bridge. Current config good for 5.6A. Single channel can do half of that, when etb is stuck and we try to move it we consume more then 3A. Can we do some protection? Do we relay only on driver for protection? Miss config ow wireing could blow this?

[2022-01-15 16:47] rusefillc commented on #49
@shadowm60 driver has protection. We rely on driver. We can also look into alternative part numbers altogether.

[2022-01-15 16:55] rusefillc commented on #49
I have stock of TLE9201 we can go two units of TLE9201.
We can also go with same TLE9202 as Proteus is using.

Open question how painful is to hand solder TLE9202 vs two of TLE9201 vs L6205 @mck1117 @OrchardPerformance

[2022-01-15 17:25] shadowm60 commented on #49
I played with mre 0.3 and kompressor bypass solenoid, and i noticed peeks over 3A. So if we could implement two channels with current limits it would be nice.

[2022-01-15 17:26] shadowm60 commented on #23
I have started an xls on this topic do have all the inpus documented with there config (pullup and pull down)

[2022-01-15 17:40] rusefillc commented on #49
@Qwerty-OFF sounds like NOT split channels on current chip

We can keep ETB as is and ADD tle9201, or replace.

[2022-01-15 17:41] rusefillc commented on #23
We have too many parallel processes, lets agree on a more common process

[2022-01-15 17:48] shadowm60 commented on #23
I did not know of a process, is there a way for me to gelp on this ticket?

[2022-01-15 17:54] shadowm60 commented on #49
Where to output the new motor outputs?

This is hard to answer, mainly this is one point why i did not opened the ticket myself. I was thinking of using wires to repurpose some ignition output pins. Most common setup are l4 and l6 so we do not need all the outputs.
When i get home i can look up a specific pair, but i do not know how you feel about soldering wires between test points

[2022-01-15 17:58] shadowm60 commented on #49
Two simmetrical unit would make more sense? I mean why build full spec, only on customer request populate the second channel? We are doing wbo the same way... simple to handle chips this way and repair jobs.

[2022-01-15 19:06] abelom commented on #23
We have pinout yaml maybe there

Some boards have table

Between pinout yaml, ineractive pinout and wiki pages we definitely need
more copies of same imho, we need to get some copy useable

On Sat, Jan 15, 2022, 12:48 PM shadowm60 ***@***.***> wrote:

[2022-01-15 19:09] rusefillc commented on #23
I will document what we have better

[2022-01-15 19:18] shadowm60 commented on #23
My point was, yes yaml is ok that would connect user on ts side to use it, but we need a littel more like is it a pull.up input, that way a switch to gnd can be placed there... i am trying to think as an end customer who is doing a list what can be done additional to oem harness

[2022-01-15 23:25] rusefillc commented on #23
@shadowm60 I need help adding all useful "Pxx" aux points into merc yaml file

Specific example https://github.com/rusefi/rusefi/commit/7ee9c76754391a7af5a3dbc9708d3d91b96a0772

what makes this ask tricky is the part that many hellen inputs/outputs are not really documented so far, with module source code being the only documentation

[2022-01-19 16:25] rusefillc commented on #49
for aux H-bridge let's have pads same as on V12 BMW adapter board same Molex 2 pin?

[2022-01-20 08:35] shadowm60 commented on #49
With pads to solder i agree, molex pin? I do not know what you mean by that, i think if it is used, we can remove unused ignition output fuse, and solder hbridge to the desired bin, car harness repinned and you have new function available

[2022-01-20 12:25] shadowm60 commented on #49
So i have checked my car wiring, it uses KF20 as igniter, on hellen f20 and f21 are both OUT_IGN1 and there is a fuse in the way, so for me it looks manageable, to remove the fuse for ex on KF21 and solder a wire for h-bridge.

[2022-01-20 16:30] rusefillc commented on #49
@shadowm60 is that original wiring on your vehicle? do we have your schematics on our wiki? See also https://github.com/rusefi/rusefi_documentation/issues/197

[2022-01-20 17:50] shadowm60 commented on #49
Mine is original, coils use only one pin, i was browsing today to find out why do we use two pins, but i know that m112 has two coils/cilinder, that would explain, but right now i do not have the big picture

[2022-01-21 15:29] shadowm60 commented on #49
My schematic is not on wiki, i found the xls where i have entered my connection, i can upload the schematic for Vault of mercedes if it is needed https://docs.google.com/spreadsheets/d/1I-lZKRajTiEGFUXdZpXEtKF2pymlOo-lPahy3cLMnl4/edit#gid=489142936 in the column with C180 Alex use (M111.921 MY99)

[2022-01-21 18:44] shadowm60 commented on #49
https://github.com/rusefi/rusefi/wiki/Vault-Of-Mercedes-OEM >> OEM Wiring harness
Or direct link: https://github.com/rusefi/rusefi/wiki/OEM-Docs/Mercedes/w202c180m111wiring4.pdf
I have also added the ME2.1 description that i found: https://github.com/rusefi/rusefi/wiki/OEM-Docs/Mercedes/motronic.pdf

[2022-01-21 18:55] rusefillc commented on #49
@shadowm60 now that we have a link just to reduce confusion are there any specific pins we need to focus on for the purposes of this "aux DC" ticker?

[2022-01-21 21:18] shadowm60 commented on #49
Relevant is that for I4 m111 engine we do have only 2 coils, and are driven only from 2 pins. Every ignition pin is connected via a fuse to the car connector, so if we go with wires, we can remove unused fuse and use pad for additional DC motor(wire connection). So i do not have a specific pin that we could route next to. All i can say that F13 and F20 is used in the factory harness, So at the end

[2022-01-21 23:02] shadowm60 commented on #49
Let me try it again. I cannot chose 2 pins. We know we would need wires. Simple approache, remove two fuses and solder the wire to the car connector end of the fuse footprint. If the layout would make it possible to do the same, only no wires, but jumpers, then i think layout would chose the two pins, and we avoid wires.

I do not have pins that i need/would use, my wiring diagram just highlighted

[2022-01-25 20:46] rusefillc opened #50 "Vertical USB type B"
does C26234 look right?

Jing Extension of the Electronic Co.
921-111A1010Y10200

![image](https://user-images.githubusercontent.com/48498823/151057293-c721be91-7e88-40aa-a236-a9101e83637e.png)

[2022-01-25 20:53] rusefillc commented on #50
TE part

![image](https://user-images.githubusercontent.com/48498823/151057856-083b8a0f-cc4e-46bd-b0dc-9798c57bdfa3.png)

[2022-01-26 02:37] rusefillc commented on #50
done on rev C

[2022-01-26 02:38] #49 closed, assigned to nobody

[2022-01-26 02:38] #40 closed, assigned to nobody

[2022-01-26 02:40] rusefillc opened #51 "JLC says slots"
is that on ign8 module on or frame @Qwerty-OFF @andreika-git

![image](https://user-images.githubusercontent.com/48498823/151094788-2fa927a2-0bf8-43f1-ba63-52021cb6cbbb.png)

[2022-01-26 02:41] rusefillc commented on #51
plated slots they say?

![image](https://user-images.githubusercontent.com/48498823/151095075-1fdbffe8-5f68-48d3-ba3d-96cad697c4bc.png)

[2022-01-26 14:27] Qwerty-OFF commented on #51
Frame:
![image](https://user-images.githubusercontent.com/4116383/151180527-47e1940f-1335-4993-8e0d-ee181c720169.png)
Board:
![image](https://user-images.githubusercontent.com/4116383/151180616-753adcff-5798-4bd1-b1bd-fa117880280c.png)
This is a pair of holes with similar coordinates
@andreika-git any ideas?

[2022-01-26 15:04] abelom commented on #50
[code]

![image](https://user-images.githubusercontent.com/575495/151188538-7cace5a3-aa5f-4386-992c-a525b43446cc.png)

[2022-01-26 15:05] abelom opened #52 "D418 polarity"
[code]

![image](https://user-images.githubusercontent.com/575495/151188717-7ad12ea5-c1de-4a58-9b33-bafcf31caaf7.png)

[2022-01-26 15:15] abelom commented on #52
original
![image](https://user-images.githubusercontent.com/575495/151190614-91adb69c-6f10-470c-8c0f-9b4b9fd85191.png)

corrected
![image](https://user-images.githubusercontent.com/575495/151190546-a9681d81-2287-45e4-800e-1a5b664e7159.png)

[2022-01-26 15:17] #52 closed, assigned to nobody

[2022-01-26 19:24] Qwerty-OFF commented on #50
![image](https://user-images.githubusercontent.com/4116383/151232329-b4d3f522-9759-4547-99b1-edb682972d10.png)
![image](https://user-images.githubusercontent.com/4116383/151232357-8a437392-5f08-46fe-a2a5-5cba694c7187.png)

[2022-01-26 20:51] abelom commented on #50
![image](https://user-images.githubusercontent.com/575495/151244981-5b54216b-ea73-47bc-b7da-81de9367366e.png)

[2022-01-27 15:24] rusefillc commented on #50
from JLCPCB

![image](https://user-images.githubusercontent.com/48498823/151389006-60398f5b-ac40-4eda-8c1b-3dc0dcec5439.png)

@Qwerty-OFF do we need to officially turn by 180 in kicad for future orders?

[2022-01-27 18:44] shadowm60 commented on #23
yaml file was updated, probably this needs to be taken care of at every hw update. Right now i feel pretty good, wiki and interactive pinout is somehow connected.

[2022-01-27 18:46] #23 closed, assigned to nobody

[2022-02-23 15:54] rusefillc opened #53 "rev C has arrived! let's flash firmware"

[2022-02-23 16:00] shadowm60 commented on #53
![20220223_175914.jpg](https://user-images.githubusercontent.com/15788573/155357266-bea76911-1efb-4b67-b590-b8c79f3988a8.jpg)

[2022-02-23 16:01] shadowm60 commented on #53
preparing power cables to power it up from 12V supply, probably current limited at 100mA.
Powering only from usb, only heated up the board around the Accel sensor

[2022-02-23 16:02] rusefillc commented on #53
@shadowm60 did you hold PROG button while inserting USB cable?

there was some drama with that vertical USB they might have mounted it at 180 degrees

[2022-02-23 16:02] rusefillc commented on #53
@Qwerty-OFF how does USB orientation look to you?

[2022-02-23 16:05] Qwerty-OFF commented on #53
Good

[2022-02-23 16:08] Qwerty-OFF commented on #53
Check resistance please
![image](https://user-images.githubusercontent.com/4116383/155358737-aa632a7b-b557-46c8-ac99-599c4ab06837.png)

[2022-02-23 16:20] rusefillc commented on #53
andrey: DMM resistance check between 0v and 5v?

Alex Miculescu: 155 Ohm

[2022-02-23 17:03] rusefillc commented on #53
![image](https://user-images.githubusercontent.com/48498823/155369239-d4c07d89-a4bd-4239-9085-e5ab7e57f9fc.png)

[2022-02-23 18:05] rusefillc commented on #53
D420 flipped by JLCPCB on rev C

[2022-02-23 22:09] rusefillc commented on #53
TS works once D420 was flipped

[2022-02-23 22:09] #53 closed, assigned to shadowm60

[2022-03-22 12:50] shadowm60 opened #54 "Inverted ETB+ and ETB- - flip R26 R27 jumpers"
Still under investigation but:

TLE9201 on MRE has Out1 = ETB+, Out2 = ETB-
On Rev C we have Out1 = ETB-, \Out2 = ETB+.

Plug and play is not working, i need to re-pin harness to confirm that these are in deed inverted, or just invert them from the jumpers in the PCB.

Issue created so i will not loose track of this

[2022-03-22 13:17] rusefillc commented on #54
Usually you can flip setting in TS to flip outputs

[2022-03-22 13:50] shadowm60 commented on #54
I will look in the code if i can flip it with dir pin or not? Then we can use it with board id

[2022-03-22 14:16] rusefillc commented on #54
oh on 9201 we have DIR and PWM control, just flipping outputs would not be possible. we can flip PID settings but that's a bad idea

sounds like the best way forward is to flip R26 R27 jumpers in rev C and made that flip permanent in rev D

[2022-03-31 13:20] rusefillc opened #55 "Need a picture of OEM harness plugged into rusEFI on vehicle"
To reduce confusion we need a picture of OEM harness plugged into Hellen

we need both picture of plugged
and separate image showing plugs

for users to be able to distinguish the harness style we are compatible with

[2022-06-07 18:35] borgonzola commented on #55
![image](https://user-images.githubusercontent.com/17059674/172456508-a555fe24-69a2-4cca-ad52-48119eaac71f.png)
ME2.8, Does not work. ~2000-2005

![image](https://user-images.githubusercontent.com/17059674/172456813-63c12ebd-83cb-4666-9f2d-9490a09b235a.png)
ME2.0/2.1, Works. ~1996-1999

![image](https://user-images.githubusercontent.com/17059674/172456978-8e6cec4e-1b86-4ebb-88d6-6bd312e2dec9.png)

[2022-06-08 14:08] rusefillc commented on #55
@borgonzola thank you that's great progress!

next step cropping. making those horizontal and putting text in bright red on top of pictures to make things simpler

[2022-06-13 14:34] rusefillc opened #56 "github automation is broken because of private submodule"
See https://github.com/rusefi/hellen-gm-e67/issues/45